<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="SuiteMay1">
  <test thread-count="5"  name="Chrome">
<!--<groups>
   <run>
      <include name = "signIn" />
		<include name = "Config_Control" />
		<include name = "Createaccount" />
		<include name = "AccountInfo" />
</run> 
</groups> -->
	 <classes>
 <class name="Testmodel.june21"/> 
<class name="Testmodel.june25th"/> 
<class name="Testmodel.june29th"/> 
     </classes>
  </test> <!-- Test1 -->
<test thread-count="5"  name="Firefox">
<!--<groups>
   <run>
      <include name = "signIn" />
		<include name = "Config_Control" />
		<include name = "Createaccount" />
		<include name = "AccountInfo" />
</run> 
</groups> -->
	 <classes>
 <class name="testModelEdge.june21"/> 
<class name="testModelEdge.june25th"/> 
<class name="testModelEdge.june29th"/> 
     </classes>
  </test> <!-- Test1 -->
<test thread-count="5"  name="Edge">
<!--<groups>
   <run>
      <include name = "signIn" />
		<include name = "Config_Control" />
		<include name = "Createaccount" />
		<include name = "AccountInfo" />
</run> 
</groups> -->
	 <classes>
 <class name="Testmodelfirefox.june21"/> 
<class name="Testmodelfirefox.june25th"/> 
<class name="Testmodelfirefox.june29th"/> 
     </classes>
  </test> <!-- Test1 -->
</suite> <!-- SuiteMay1 -->
