<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="classes" name="SuiteMay1">
  <test parallel="classes" thread-count="5"  name="Test1">
<!--<groups>
   <run>
      <include name = "signIn" />
		<include name = "Config_Control" />
		<include name = "Createaccount" />
		<include name = "AccountInfo" />
</run> 
</groups> -->
	 <classes>
      <class name="Testmodel.june21"/> 
<class name="Testmodel.june25th"/> 
<class name="Testmodel.june29th"/> 
     </classes>
  </test> <!-- Test1 -->
</suite> <!-- SuiteMay1 -->
